#pawn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 30px;
  width: 30px;  
}

.player1 {
  /* background-color: red; */
}

.player2 {
  /* background-color: blue; */
  filter: invert(100%)
}

#image{
scale: 1.5;
}
