#chessboardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: grey;
}

.black {
  background-color: #3f3b3b;
}

.white {
  background-color: white;
}

#gridCell{
  /* justify-content: center;
  align-items: center;
  display: table-cell; */
}

[highlighted~=true]{
  outline: 2px solid orange;
}

[possibleMove~=true]{
  outline: 3px solid green;
  border-radius: 10px;
}

[possiblekill~=true]{
 outline: 3px solid rgb(169, 11, 11);
}

#highlightedEmpty{
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.3;
}

#highlightedEnemy{
  position: absolute;
  margin-top: -20px;
  margin-left: 17.5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid red;
  box-sizing: border-box;
  opacity: 0.5;
}

#boardBody{
  display:block;
  /* border: 2px solid black; */
  /* border-collapse:separate; */
  /* border-spacing: 4px;  */
}


#cellNumber{
  color: white;
}

#movingPiece{
  z-index: 10;
  position:fixed;
}